# Datenbereinigung in Python

## 1. Einführung und Ziele der Datenbereinigung

## 2. Benötigte Bibliotheken und Beispieldaten laden

In [114]:
import pandas as pd
import numpy as np 

df = pd.read_csv(r"C:\Users\eike1\PycharmProjects\PythonProjectPraktikum\kunde_daten_verschmutzt.csv")

## 3. Erste Orientierung im Datensatz  

Bevor ich mit der eigentlichen Bereinigung beginnen, verschaffen ich mir einen schnellen, aber umfassenden Überblick über die Daten.  
Dieser Schritt hilft mir  dabei, realistische Erwartungen zu entwickeln, die Struktur der Daten und die nächsten Bereinigungsschritte sinnvoll zu priorisieren.
Dabei möchte ich erkennen, welche Datentypen, Spalten- und Zeilennamen, sowie Kategorien (Datum, Mengen, Namen etc.) oder auch fehlende Werte vorhanden sind.

### 3.1 Grundlegende Informationen anzeigen  

`df.shape` gibt mir einen Überblick der Dimension des Datensets, also die Anzahl der Spalten und Zeilen. Mit der `.head()` und `.tail()` Funktion lasse ich mir die ersten und letzten Zeilen des Datenframes anzeigen. Dadurch verschaffe ich mir einen ersten Überblick der Spaltennamen und dessen Werte und Struktur. Mit `.sample(15)` kann ich mir 15 beliebige Zeilen des Datensets anzeigen lassen.

In [115]:
df.shape

(362, 16)

In [116]:
df.head()

,Kunde_ID,Vorname,Nachname,Geschlecht,Geburtsjahr,PLZ,Stadt,Email,Kundenseit,Letzter_Kauf,Umsatz_2024,Bestellungen_2024,Kategorie_letzter_Kauf,DurchschnittsBewertung,Treuekarte,Newsletter_Status
0,10001,Greta,Meyer,W,1965.0,NaN,Koeln,david.müller@web.de,2023-01-31,2024-09-18,1500.54,23,Sport & Freizeit,0.8,ja,ja
1,10002,Tom,Bauer,m,1985.0,04109,Bremen,kevin.schröder@hotmail.com,2024-02-20,2024-10-29,25826.05,16,Spielzeug,4.4,active,ja
2,10003,Oliver,Richter,m,1973.0,60311,Koeln,sophie.müller@hotmail.com,2018-06-11,2023-12-01,1678.72,25,Spielzeug,2.6,N,opt-in
3,10004,Kevin,Weber,m,1993.0,80336,Leipzig,oliver.richter@web.de,2022-03-12,2023-06-20,3496.98,14,Drogerie & Kosmetik,1.3,Ja,aktiv
4,10005,Hannah,Müller,m,1964.0,8033,Frankfurt,david.wagner@gmail.com,2018-10-21,2025-12-23,7018.78,40,NaN,1.0,Nein,opt-in

In [117]:
df.tail()

,Kunde_ID,Vorname,Nachname,Geschlecht,Geburtsjahr,PLZ,Stadt,Email,Kundenseit,Letzter_Kauf,Umsatz_2024,Bestellungen_2024,Kategorie_letzter_Kauf,DurchschnittsBewertung,Treuekarte,Newsletter_Status
357,110252,Clara,Schröder,w,NaN,20095,Düsseldorf,sophie.wolf@outlook.de,2018-06-26,2024-06-24,11322.35,1,Spielzeug,0.6,nein,NaN
358,110078,Ian,Müller,-,2004.0,80336,Muenchen,greta.weber@nan,2023-03-31,2025-09-12,4687.61,35,Haushalt,1.1,ja,aktiv
359,110168,Quirin,Becker,m,1971.0,D-50667,Frankfurt,paula.becker@gmx.net,2020-05-21,2024-03-21,706.00,30,Sport & Freizeit,4.9,ja,Nein
360,110294,Nina,Meyer,m,2006.0,04109,Berlin,finn.schröder@gmx.net,2025-03-09,2025-05-25,1135.01,34,buch,0.9,NaN,aktiv
361,110214,Rita,Richter,m,1981.0,80336,Stuttgart,ben.meyer@outlook.de,2019-07-03,2024-07-12,5788.52,41,Mode,6.0,Ja,inaktiv

In [118]:
df.sample(15)

,Kunde_ID,Vorname,Nachname,Geschlecht,Geburtsjahr,PLZ,Stadt,Email,Kundenseit,Letzter_Kauf,Umsatz_2024,Bestellungen_2024,Kategorie_letzter_Kauf,DurchschnittsBewertung,Treuekarte,Newsletter_Status
248,10249,Nina,Bauer,m,1971.0,70173,Düsseldorf,kevin.weber@outlook.de,2022-12-13,2025-08-26,1747.82,0,Spielzeug,4.1,active,aktiv
94,10095,Hannah,Hoffmann,w,1972.0,10115,Düsseldorf,nina.schmidt@web.de,2020-09-18,2023-11-10,3846.05,24,Haushalt,4.2,J,opt-in
168,10169,Emma,Fischer,w,1972.0,80333,Frankfurt am Main,lena.schneider@hotmail.com,2018-07-28,2024-08-24,1508.08,30,NaN,2.7,active,Nein
99,10100,Emma,Schmidt,m,1972.0,50667,Berlin,greta.bauer@gmx.de,2018-04-01,2023-09-21,357.74,21,Drogerie & Kosmetik,4.1,NaN,aktiv
258,10259,Nina,Klein,W,2002.0,10115,Hamburg,rita.wagner@gmail.com,2025-07-04,2025-03-12,1088.94,40,NaN,2.7,ja,inaktiv
196,10197,Clara,Schulz,NaN,1955.0,D-50667,Leipzig,quirin.schulz@gmx.de,2025-08-13,2023-06-23,6203.68,40,Spielzeug,1.2,Ja,inaktiv
318,10319,Rita,Richter,m,1958.0,40-123,Muenchen,ian.meyer@gmail.com,2024-09-10,2025-10-18,1794.74,20,buch,5.0,ja,inaktiv
164,10165,Greta,Klein,m,1961.0,80336,Köln,hannah.weber@gmail.com,2022-06-22,2025-12-13,3678.07,5,NaN,4.2,J,aktiv
336,10337,Tom,Weber,m,1965.0,50667,Leipzig,kevin.hoffmann@gmx.net,2021-09-05,2023-07-01,362.66,7,Spielzeug,1.7,J,abgemeldet
2,10003,Oliver,Richter,m,1973.0,60311,Koeln,sophie.müller@hotmail.com,2018-06-11,2023-12-01,1678.72,25,Spielzeug,2.6,N,opt-in
128,10129,Kevin,Weber,w,1991.0,50667,Hamburg,ben.wolf@nan,2020-01-13,2025-08-10,2246.32,26,Spielzeug,4.9,nein,opt-in
159,10160,Tom,Wagner,NaN,1982.0,NaN,Hamburg,lena.becker@gmx.de,2020-01-10,2024-08-23,1645.17,36,Drogerie & Kosmetik,4.9,ja,aktiv
18,10019,Lena,Schneider,divers,1984.0,80331,Muenchen,david.bauer@t-online.de,2023-07-24,2025-04-25,309.31,0,Haushalt,1.3,active,aktiv
66,10067,Hannah,Richter,m,1980.0,80331,München,oliver.fischer@gmx.de,2019-06-11,2025-12-29,3342.00,40,Spielzeug,4.4,N,opt-in
335,10336,Quirin,Schröder,m,1971.0,50668,Frankfurt am Main,hannah.klein@web.de,2022-01-20,2023-09-08,2857.98,19,NaN,3.6,N,Nein

### 3.2 Spaltennamen & Datentypen prüfen  

Die `.info()` Funktion gibt mir einen Überblick: Wie viele Zeilen und Spalten habe ich? Welche Datentypen wurden erkannt? Wo fehlen Werte und wie stark? Und wie viel Speicher verbraucht der DataFrame ungefähr? Besonders hilfreich finde ich, dass ich auf einen Blick sehe, ob pandas z. B. mein Datum als String eingelesen hat oder ob in wichtigen Spalten unerwartet viele NaN-Werte stecken.

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Kunde_ID                362 non-null    int64
 1   Vorname                 362 non-null    object
 2   Nachname                362 non-null    object
 3   Geschlecht              353 non-null    object
 4   Geburtsjahr             355 non-null    float64
 5   PLZ                     332 non-null    object
 6   Stadt                   339 non-null    object
 7   Email                   362 non-null    object
 8   Kundenseit              362 non-null    object
 9   Letzter_Kauf            362 non-null    object
 10  Umsatz_2024             362 non-null    float64
 11  Bestellungen_2024       362 non-null    int64
 12  Kategorie_letzter_Kauf  318 non-null    object
 13  DurchschnittsBewertung  362 non-null    float64
 14  Treuekarte              306 non-null    object
 15  Newsletter_Status       311 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 45.4+ KB

### 3.3 Deskriptive Statistik  

Nachdem ich die grundlegenden Informationen und die Struktur meines Datensatzes kenne, möchte ich nun die numerischen und kategorischen Merkmale genauer beschreiben. Die deskriptive Statistik hilft mir dabei, die Daten zusammenzufassen und erste Muster, Auffälligkeiten oder typische Werte zu erkennen ohne Hypothesen zu testen oder Modelle zu bauen.

Ich unterscheide dabei zwei Hauptbereiche:

- Numerische Variablen: Lage (Mittelwert, Median etc.), Streuung (Std, Min/Max, Quartile)
- Kategorische/ Text-Variablen: Häufigkeiten, Modalwert, Anteilswerte

Wichtigste pandas-Methode: `df.describe()`
Es gibt automatisch eine schöne Zusammenfassung (getrennt für Zahlen und für Kategorien, wenn man `include='object'` oder `include='all'` setzt).

In [120]:
df.describe(include = "all")

,Kunde_ID,Vorname,Nachname,Geschlecht,Geburtsjahr,PLZ,Stadt,Email,Kundenseit,Letzter_Kauf,Umsatz_2024,Bestellungen_2024,Kategorie_letzter_Kauf,DurchschnittsBewertung,Treuekarte,Newsletter_Status
count,362.000000,362,362,353,355.000000,332,339,362,362,362,362.000000,362.000000,318,362.000000,306,311
unique,NaN,20,15,10,NaN,15,13,326,327,288,NaN,NaN,11,NaN,7,6
top,NaN,Clara,Hoffmann,w,NaN,D-50667,Muenchen,nina.weber@gmail.com,2019-03-28,2023-06-13,NaN,NaN,Drogerie & Kosmetik,NaN,ja,aktiv
freq,NaN,30,37,161,NaN,28,35,3,3,4,NaN,NaN,40,NaN,50,90
mean,16248.162983,NaN,NaN,NaN,1953.921127,NaN,NaN,NaN,NaN,NaN,3819.750829,18.906077,NaN,3.027348,NaN,NaN
std,23925.940443,NaN,NaN,NaN,234.452456,NaN,NaN,NaN,NaN,NaN,4997.136355,14.462752,NaN,1.428460,NaN,NaN
min,10001.000000,NaN,NaN,NaN,-1.000000,NaN,NaN,NaN,NaN,NaN,-29.990000,-39.000000,NaN,0.300000,NaN,NaN
25%,10091.250000,NaN,NaN,NaN,1970.000000,NaN,NaN,NaN,NaN,NaN,912.532500,8.000000,NaN,1.800000,NaN,NaN
50%,10181.500000,NaN,NaN,NaN,1981.000000,NaN,NaN,NaN,NaN,NaN,2088.230000,19.000000,NaN,2.900000,NaN,NaN
75%,10271.750000,NaN,NaN,NaN,1995.000000,NaN,NaN,NaN,NaN,NaN,4782.172500,30.000000,NaN,4.200000,NaN,NaN
max,110325.000000,NaN,NaN,NaN,2006.000000,NaN,NaN,NaN,NaN,NaN,47530.040000,41.000000,NaN,6.000000,NaN,NaN

In [121]:
# Betrachtet nur kategorische und Textspalten/ Numerische Spalten werden ignoriert/ .T transponiert die Tabelle
cat_summary = df.describe(include=['object', 'category']).T     

# Berechnet den Anteil fehlender Werte pro Spalte
cat_summary['Anteil fehlend (%)'] = (df.isna().mean() * 100).round(2)
display(cat_summary)

,count,unique,top,freq,Anteil fehlend (%)
Vorname,362,20,Clara,30,0.00
Nachname,362,15,Hoffmann,37,0.00
Geschlecht,353,10,w,161,2.49
PLZ,332,15,D-50667,28,8.29
Stadt,339,13,Muenchen,35,6.35
Email,362,326,nina.weber@gmail.com,3,0.00
Kundenseit,362,327,2019-03-28,3,0.00
Letzter_Kauf,362,288,2023-06-13,4,0.00
Kategorie_letzter_Kauf,318,11,Drogerie & Kosmetik,40,12.15
Treuekarte,306,7,ja,50,15.47
Newsletter_Status,311,6,aktiv,90,14.09

## Fehlende Werte (Missing Values) erkennen & behandeln  
(Fortlaufend, In Bearbeitung)

### Strategien zum Umgang mit fehlenden Werten  
(Fortlaufend, In Bearbeitung)

### Visualisierung fehlender Werte  
(Fortlaufend, In Bearbeitung)

## Duplikate erkennen und entfernen  

Duplikate sind eines der häufigsten Probleme in Datensätzen. Diese entstehen z. B. durch:

- Mehrfache Uploads/ doppelte Imports
- Technische Fehler beim Zusammenführen von Datenquellen
- Mehrfache Einträge durch denselben Nutzer (z. B. doppelte Registrierung)
- Kopierfehler

Es gibt zwei Hauptarten von Duplikaten:

1. Vollständige Duplikate: 2 oder mehrere Zeilen besitzen die exakt selben Einträge
2. Teilduplikate: Gleiche logische Inhalte, aber kleine Unterschiede (z. B. gleiche Kunde_ID, aber unterschiedliche Schreibweisen)

Ich gehe in diesem Abschnitt beide Fälle durch.

### Vollständige Duplikate

Um vollständige Duplikate (Zeilen sind identisch) zu identifizieren, verwende ich zunächst den Befehl `.duplicated().sum()`, um die Anzahl der Duplikate festzustellen. Sollten nun Fehler vorhanden sein, so greife ich auf `.drop_duplicates(keep = "first")` zurück, sodass ich jeweils das erste Duplikate behalte. In diesem Fall existieren keine Duplikate.

In [122]:
df.duplicated().sum()

0

### Teilduplikate

Hier prüfe ich, ob es bestimmte "Schlüsselspalten" gibt mit denselben Einträgen. In diesem Fall ist die Spalte "Kunde_ID" eine solche Schlüsselspalte. Auch in diesem Fall existieren keine Duplikate.

In [123]:
df.duplicated(subset = "Kunde_ID").sum()

0

## Textbereinigung und Stringoperationen

Textdaten (Spalten vom Typ `object` oder `string`) sind in realen Datensätzen fast immer verschmutzt.  
Typische Probleme sind:

- überflüssige Leerzeichen (vorne, hinten, mehrfach innen)
- inkonsistente Groß- und Kleinschreibung
- Sonderzeichen, Tippfehler, ungültige Einträge
- unterschiedliche Formate (z. B. „München“ vs. „Muenchen“ vs. „München “)
- Informationen, die in einem Feld stecken (z. B. PLZ + Stadt in einer Spalte)

Ziel dieses Abschnitts:  
saubere, einheitliche und nutzbare Textspalten erzeugen – mit möglichst wenigen manuellen Eingriffen. Ich bearbeite hier vor allem: `name`, `PLZ`, `Stadt`, `Email`, `Kategorie_letzter_Kauf`, `Geschlecht`, `Treuekarte`, `Newsletter_Status`

Zu Erinnerung rufe ich hier nochmal 20 Beispielzeilen des Datensatzes auf.

In [124]:
df.sample(20)

,Kunde_ID,Vorname,Nachname,Geschlecht,Geburtsjahr,PLZ,Stadt,Email,Kundenseit,Letzter_Kauf,Umsatz_2024,Bestellungen_2024,Kategorie_letzter_Kauf,DurchschnittsBewertung,Treuekarte,Newsletter_Status
299,10300,Rita,Wagner,w,2001.0,28195,Köln,max.wagner@nan,2017-12-25,2024-11-17,1072.30,8,Sonstiges,2.2,J,opt-in
231,10232,Paula,Fischer,m,1975.0,10115,Bremen,clara.hoffmann@gmx.de,2021-07-07,2025-02-28,6754.44,19,NaN,2.8,N,Nein
217,10218,Paula,Wolf,m,1983.0,28195,Leipzig,nina.wolf@gmail.com,2025-05-13,2025-05-03,2752.80,26,Sport & Freizeit,2.0,N,NaN
203,10204,Greta,Meyer,W,1969.0,80333,Leipzig,nina.schmidt@hotmail.com,2022-04-28,2024-12-17,2988.79,23,Haushalt,3.5,Nein,Nein
62,10063,Paula,Meyer,m,1975.0,20095,Koeln,julia.schneider@gmx.net,2020-04-28,2024-04-18,3392.76,10,NaN,3.6,Ja,Nein
260,10261,Tom,Wagner,w,1958.0,10115,Koeln,ian.fischer@gmail.com,2024-05-17,2024-12-28,8250.90,6,buch,1.7,active,ja
29,10030,Sophie,Becker,m,1983.0,D-50667,München,max.becker@nan,2023-07-23,2025-05-15,2190.38,10,Spielzeug,4.5,Nein,opt-in
317,10318,Clara,Klein,m,2004.0,50668,Düsseldorf,clara.müller@web.de,2021-11-20,2024-03-30,392.59,23,Sport & Freizeit,0.5,nein,inaktiv
160,10161,Quirin,Fischer,w,1961.0,80331,NaN,anna.richter@yahoo.de,2017-09-25,2024-09-16,11643.12,16,elektronik,2.5,N,aktiv
194,10195,Finn,Schulz,w,1987.0,04109,Stuttgart,lena.schmidt@nan,2022-09-02,2024-05-02,677.30,-2,Sport & Freizeit,2.9,N,inaktiv
331,10332,Oliver,Richter,NaN,1999.0,8033,Frankfurt am Main,paula.hoffmann@gmail.com,2025-08-29,2023-06-13,3726.71,10,Drogerie & Kosmetik,2.7,NaN,ja
350,110325,Anna,Schulz,m,2001.0,D-50667,Frankfurt am Main,quirin.meyer@outlook.de,2024-01-09,2025-03-19,2416.58,0,Drogerie & Kosmetik,2.8,J,Nein
180,10181,Finn,Schneider,w,1996.0,8033,Frankfurt am Main,ian.schröder@t-online.de,2023-10-04,2024-04-16,-29.99,26,Buch & Medien,3.6,NaN,abgemeldet
111,10112,Emma,Becker,w,1993.0,8033,Bremen,finn.schneider@gmx.net,2020-09-28,2024-11-30,5974.42,6,Mode,1.8,Nein,aktiv
1,10002,Tom,Bauer,m,1985.0,04109,Bremen,kevin.schröder@hotmail.com,2024-02-20,2024-10-29,25826.05,16,Spielzeug,4.4,active,ja
126,10127,Max,Schneider,w,1974.0,80336,Berlin,clara.weber@hotmail.com,2023-09-26,2024-11-16,1925.35,19,Haushalt,6.0,nein,abgemeldet
140,10141,Kevin,Schröder,w,1994.0,20095,Frankfurt,max.meyer@t-online.de,2022-06-20,2025-04-15,9049.95,41,Elektronik,2.3,Nein,Nein
119,10120,Sophie,Richter,M,1990.0,20095,München,lena.wagner@yahoo.de,2020-09-09,2023-10-05,1810.15,20,Sonstiges,5.2,J,inaktiv
136,10137,Finn,Richter,w,1979.0,40-123,Muenchen,hannah.wagner@web.de,2017-07-21,2025-01-04,3054.59,18,Elektronik,2.5,active,inaktiv
245,10246,Paula,Schneider,m,1967.0,80331,München,tom.meyer@yahoo.de,2022-01-16,2023-12-26,10481.35,26,Drogerie & Kosmetik,3.4,active,Nein

### Groß- und Kleinschreibung  

Zum Thema Groß- und Kleinschreibung sind vor allem in den Spalten "Newsletter_Status", "Treuekarte" und "Kategorie_letzter_Kauf" verschiedene Varianten zu finden. Ich möchte die Anfangsbuchstaben alle groß haben. Dazu verwende ich die Funktion `.str.title()` und überschreibe die jeweiligen Spalten des Dataframes. Äquivalent dazu kann man mit `.str.lower()` die ersten Buchstaben verkleinern.

In [125]:
df["Kategorie_letzter_Kauf"]  = df["Kategorie_letzter_Kauf"].str.title()
df["Treuekarte"]              = df["Treuekarte"].str.title()
df["Newsletter_Status"]       = df["Newsletter_Status"].str.title()
df.sample(15)

,Kunde_ID,Vorname,Nachname,Geschlecht,Geburtsjahr,PLZ,Stadt,Email,Kundenseit,Letzter_Kauf,Umsatz_2024,Bestellungen_2024,Kategorie_letzter_Kauf,DurchschnittsBewertung,Treuekarte,Newsletter_Status
102,10103,Hannah,Hoffmann,NaN,2005.0,04109,Düsseldorf,david.hoffmann@outlook.de,2020-02-07,2024-11-23,2770.87,29,Sport & Freizeit,4.8,Nein,Inaktiv
304,10305,Rita,Schmidt,w,1978.0,20095,München,max.schröder@outlook.de,2020-07-27,2024-08-04,2541.42,-1,Sport & Freizeit,1.2,Ja,Opt-In
148,10149,Greta,Müller,m,1998.0,50668,Muenchen,lena.schmidt@gmx.net,2019-02-10,2023-08-05,397.24,29,Drogerie & Kosmetik,1.5,NaN,Inaktiv
131,10132,Greta,Müller,M,1967.0,NaN,Muenchen,finn.becker@gmx.de,2024-05-26,2024-02-15,3393.46,10,NaN,1.1,Ja,Aktiv
264,10265,Quirin,Hoffmann,M,1996.0,D-50667,Stuttgart,ian.becker@gmx.de,2023-02-27,2025-12-09,725.54,12,Elektronik,1.7,Active,Inaktiv
139,10140,Tom,Richter,m,1974.0,80336,Frankfurt,emma.meyer@hotmail.com,2022-02-10,2023-12-05,4517.23,3,Mode,4.9,J,Opt-In
15,10016,Ben,Fischer,m,-1.0,D-50667,Düsseldorf,hannah.becker@yahoo.de,2017-05-12,2025-08-28,1937.79,31,Drogerie & Kosmetik,4.7,J,Inaktiv
331,10332,Oliver,Richter,NaN,1999.0,8033,Frankfurt am Main,paula.hoffmann@gmail.com,2025-08-29,2023-06-13,3726.71,10,Drogerie & Kosmetik,2.7,NaN,Ja
330,10331,Sophie,Hoffmann,m,1981.0,NaN,Frankfurt am Main,ben.schulz@yahoo.de,2022-10-13,2024-08-28,1475.23,18,Haushalt,1.4,Nein,Aktiv
339,10340,Oliver,Bauer,m,1990.0,20095,Düsseldorf,hannah.klein@hotmail.com,2021-02-19,2025-03-10,1304.34,12,Drogerie & Kosmetik,4.6,Nein,Aktiv
244,10245,Clara,Weber,männl.,1984.0,D-50667,Muenchen,nina.weber@gmail.com,2020-06-11,2024-03-20,2869.66,39,Mode,2.5,Ja,Aktiv
252,10253,Paula,Richter,m,1978.0,10115,Koeln,emma.fischer@outlook.de,2023-12-08,2024-04-20,730.63,8,Mode,1.5,Ja,Inaktiv
273,10274,Sophie,Meyer,m,1956.0,04109,Koeln,greta.schmidt@web.de,2022-11-27,2023-08-22,6711.24,32,Sonstiges,5.0,Nein,Aktiv
47,10048,Quirin,Hoffmann,w,1981.0,50668,Hamburg,julia.meyer@yahoo.de,2019-05-17,2023-07-18,782.92,15,Haushalt,4.9,N,Nein
151,10152,Ian,Klein,m,1991.0,40-123,Frankfurt am Main,clara.schröder@nan,2024-06-07,2024-06-09,1848.14,7,NaN,2.2,Ja,Aktiv

### Sonderzeichen und ungültige Einträge entfernen oder ersetzen

Als nächstes möchte ich in der Spalte "Email" das "AT" durch "@" ersetzen. Dazu verwende ich `.str.replace("AT", "@")`.
Zudem möchte ich in der Spalte "PLZ" die Zeichen "-" und "D" entfernen.

In [126]:
df["Email"] = df["Email"].str.replace("AT", "@")
df["PLZ"] = df["PLZ"].astype(str).str.replace(r"\D", "", regex=True)

df.sample(20)

,Kunde_ID,Vorname,Nachname,Geschlecht,Geburtsjahr,PLZ,Stadt,Email,Kundenseit,Letzter_Kauf,Umsatz_2024,Bestellungen_2024,Kategorie_letzter_Kauf,DurchschnittsBewertung,Treuekarte,Newsletter_Status
361,110214,Rita,Richter,m,1981.0,80336,Stuttgart,ben.meyer@outlook.de,2019-07-03,2024-07-12,5788.52,41,Mode,6.0,Ja,Inaktiv
334,10335,Sophie,Klein,m,1961.0,50667,Leipzig,rita.fischer@gmx.net,2017-09-24,2024-07-01,3306.96,4,Drogerie & Kosmetik,6.0,Active,Inaktiv
322,10323,Max,Richter,W,2000.0,,Muenchen,julia.bauer@outlook.de,2024-01-12,2024-03-29,850.23,0,Mode,2.3,Ja,Opt-In
329,10330,Lena,Meyer,m,1992.0,04109,Muenchen,anna.wagner@nan,2022-08-09,2025-11-08,4071.92,-25,Buch,4.9,Ja,Nein
138,10139,Lena,Klein,w,1998.0,60311,Frankfurt am Main,david.bauer@gmail.com,2022-01-17,2025-11-26,-29.99,34,Sport & Freizeit,4.9,NaN,Aktiv
155,10156,Julia,Wolf,m,2004.0,80331,München,hannah.schröder@gmx.net,2018-01-22,2025-03-17,47530.04,39,Elektronik,2.9,Nein,Nein
349,110110,Clara,Klein,w,1979.0,10115,Bremen,hannah.weber@t-online.de,2019-05-09,2023-06-01,550.01,30,Spielzeug,4.6,Active,Abgemeldet
78,10079,Anna,Wolf,m,2004.0,80331,München,kevin.fischer@nan,2021-12-06,2024-12-17,656.76,18,Mode,4.6,N,Aktiv
39,10040,Tom,Wolf,m,1978.0,28195,München,lena.schneider@t-online.de,2018-12-31,2025-01-24,978.67,3,Mode,2.7,J,Nein
33,10034,Rita,Hoffmann,w,1969.0,10115,Bremen,julia.fischer@yahoo.de,2020-01-16,2025-06-23,1000.02,-2,Mode,0.5,Nein,Inaktiv
170,10171,Quirin,Weber,w,1991.0,8033,Berlin,tom.meyer@web.de,2020-02-25,2024-01-01,2327.56,0,Elektronik,1.0,NaN,Nein
318,10319,Rita,Richter,m,1958.0,40123,Muenchen,ian.meyer@gmail.com,2024-09-10,2025-10-18,1794.74,20,Buch,5.0,Ja,Inaktiv
44,10045,Oliver,Weber,w,1968.0,50667,Berlin,ian.weber@nan,2022-11-11,2025-11-19,4966.72,30,Elektronik,2.5,NaN,Inaktiv
70,10071,Oliver,Meyer,m,2000.0,10115,Köln,ben.schulz@outlook.de,2017-12-07,2025-05-20,598.39,12,Haushalt,4.3,Ja,Nein
269,10270,Nina,Schmidt,w,1985.0,70173,Koeln,paula.fischer@gmx.net,2023-10-15,2025-09-27,846.45,34,Elektronik,4.1,J,NaN
264,10265,Quirin,Hoffmann,M,1996.0,50667,Stuttgart,ian.becker@gmx.de,2023-02-27,2025-12-09,725.54,12,Elektronik,1.7,Active,Inaktiv
226,10227,Emma,Richter,w,1988.0,70173,Bremen,nina.wagner@web.de,2020-11-16,2025-12-13,1240.67,37,Buch,5.0,NaN,Inaktiv
342,110124,David,Müller,m,1997.0,50667,Muenchen,rita.schulz@gmx.net,2018-08-17,2023-12-11,660.46,13,Drogerie & Kosmetik,3.0,NaN,NaN
308,10309,Ben,Fischer,w,1970.0,40123,Frankfurt,quirin.richter@yahoo.de,2024-12-23,2024-11-14,2883.29,7,Elektronik,5.1,NaN,Aktiv
35,10036,Nina,Hoffmann,W,1974.0,40123,Frankfurt,tom.fischer@gmx.net,2022-04-21,2025-04-21,13622.36,5,Mode,2.8,Nein,Nein