# Datenbereinigung in Python

## 1. Einführung und Ziele der Datenbereinigung

## 2. Benötigte Bibliotheken und Beispieldaten laden

In [1]:
import pandas as pd
import numpy as np 

df = pd.read_csv(r"C:\Users\eike1\PycharmProjects\PythonProjectPraktikum\kunde_daten_verschmutzt.csv")

## 3. Erste Orientierung im Datensatz  

Bevor ich mit der eigentlichen Bereinigung beginnen, verschaffen ich mir einen schnellen, aber umfassenden Überblick über die Daten.  
Dieser Schritt hilft mir  dabei, realistische Erwartungen zu entwickeln, die Struktur der Daten und die nächsten Bereinigungsschritte sinnvoll zu priorisieren.
Dabei möchte ich erkennen, welche Datentypen, Spalten- und Zeilennamen, sowie Kategorien (Datum, Mengen, Namen etc.) oder auch fehlende Werte vorhanden sind.

### 3.1 Grundlegende Informationen anzeigen  

`df.shape` gibt mir einen Überblick der Dimension des Datensets, also die Anzahl der Spalten und Zeilen. Mit der `.head()` und `.tail()` Funktion lasse ich mir die ersten und letzten Zeilen des Datenframes anzeigen. Dadurch verschaffe ich mir einen ersten Überblick der Spaltennamen und dessen Werte und Struktur. Mit `.sample(15)` kann ich mir 15 beliebige Zeilen des Datensets anzeigen lassen.

In [2]:
df.shape

(362, 16)

In [3]:
df.head()

,Kunde_ID,Vorname,Nachname,Geschlecht,Geburtsjahr,PLZ,Stadt,Email,Kundenseit,Letzter_Kauf,Umsatz_2024,Bestellungen_2024,Kategorie_letzter_Kauf,DurchschnittsBewertung,Treuekarte,Newsletter_Status
0,10001,Greta,Meyer,W,1965.0,NaN,Koeln,david.müller@web.de,2023-01-31,2024-09-18,1500.54,23,Sport & Freizeit,0.8,ja,ja
1,10002,Tom,Bauer,m,1985.0,04109,Bremen,kevin.schröder@hotmail.com,2024-02-20,2024-10-29,25826.05,16,Spielzeug,4.4,active,ja
2,10003,Oliver,Richter,m,1973.0,60311,Koeln,sophie.müller@hotmail.com,2018-06-11,2023-12-01,1678.72,25,Spielzeug,2.6,N,opt-in
3,10004,Kevin,Weber,m,1993.0,80336,Leipzig,oliver.richter@web.de,2022-03-12,2023-06-20,3496.98,14,Drogerie & Kosmetik,1.3,Ja,aktiv
4,10005,Hannah,Müller,m,1964.0,8033,Frankfurt,david.wagner@gmail.com,2018-10-21,2025-12-23,7018.78,40,NaN,1.0,Nein,opt-in

In [4]:
df.tail()

,Kunde_ID,Vorname,Nachname,Geschlecht,Geburtsjahr,PLZ,Stadt,Email,Kundenseit,Letzter_Kauf,Umsatz_2024,Bestellungen_2024,Kategorie_letzter_Kauf,DurchschnittsBewertung,Treuekarte,Newsletter_Status
357,110252,Clara,Schröder,w,NaN,20095,Düsseldorf,sophie.wolf@outlook.de,2018-06-26,2024-06-24,11322.35,1,Spielzeug,0.6,nein,NaN
358,110078,Ian,Müller,-,2004.0,80336,Muenchen,greta.weber@nan,2023-03-31,2025-09-12,4687.61,35,Haushalt,1.1,ja,aktiv
359,110168,Quirin,Becker,m,1971.0,D-50667,Frankfurt,paula.becker@gmx.net,2020-05-21,2024-03-21,706.00,30,Sport & Freizeit,4.9,ja,Nein
360,110294,Nina,Meyer,m,2006.0,04109,Berlin,finn.schröder@gmx.net,2025-03-09,2025-05-25,1135.01,34,buch,0.9,NaN,aktiv
361,110214,Rita,Richter,m,1981.0,80336,Stuttgart,ben.meyer@outlook.de,2019-07-03,2024-07-12,5788.52,41,Mode,6.0,Ja,inaktiv

In [5]:
df.sample(15)

,Kunde_ID,Vorname,Nachname,Geschlecht,Geburtsjahr,PLZ,Stadt,Email,Kundenseit,Letzter_Kauf,Umsatz_2024,Bestellungen_2024,Kategorie_letzter_Kauf,DurchschnittsBewertung,Treuekarte,Newsletter_Status
261,10262,Hannah,Wolf,m,1974.0,10115,Stuttgart,sophie.klein@web.de,2021-09-28,2025-02-08,21261.94,25,buch,4.6,N,abgemeldet
79,10080,Lena,Wolf,w,1960.0,80331,München,julia.richter@web.de,2020-09-29,2025-11-22,1920.93,26,Mode,3.3,J,inaktiv
282,10283,David,Wagner,m,2004.0,NaN,Berlin,greta.schröder@gmail.com,2019-04-01,2024-09-13,587.85,3,Spielzeug,4.1,NaN,aktiv
18,10019,Lena,Schneider,divers,1984.0,80331,Muenchen,david.bauer@t-online.de,2023-07-24,2025-04-25,309.31,0,Haushalt,1.3,active,aktiv
236,10237,Tom,Klein,w,1973.0,80336,Berlin,hannah.fischer@t-online.de,2020-10-31,2025-01-11,3874.12,12,buch,4.1,Nein,Nein
290,10291,Ian,Schneider,m,1967.0,80333,Düsseldorf,emma.hoffmann@nan,2025-09-16,2025-11-22,498.80,23,Buch & Medien,4.5,ja,aktiv
3,10004,Kevin,Weber,m,1993.0,80336,Leipzig,oliver.richter@web.de,2022-03-12,2023-06-20,3496.98,14,Drogerie & Kosmetik,1.3,Ja,aktiv
71,10072,Max,Schulz,m,1983.0,50668,NaN,anna.hoffmann@gmx.net,2022-05-23,2023-09-22,6097.34,-2,Buch & Medien,6.0,N,aktiv
319,10320,Max,Wolf,m,2001.0,50667,Frankfurt,tom.fischer@gmx.de,2024-10-05,2024-11-21,3159.20,15,Spielzeug,0.5,Ja,aktiv
119,10120,Sophie,Richter,M,1990.0,20095,München,lena.wagner@yahoo.de,2020-09-09,2023-10-05,1810.15,20,Sonstiges,5.2,J,inaktiv
339,10340,Oliver,Bauer,m,1990.0,20095,Düsseldorf,hannah.klein@hotmail.com,2021-02-19,2025-03-10,1304.34,12,Drogerie & Kosmetik,4.6,nein,aktiv
357,110252,Clara,Schröder,w,NaN,20095,Düsseldorf,sophie.wolf@outlook.de,2018-06-26,2024-06-24,11322.35,1,Spielzeug,0.6,nein,NaN
54,10055,Julia,Becker,m,1993.0,40-123,Hamburg,rita.schröder@t-online.de,2022-01-22,2024-05-02,1033.25,40,Haushalt,4.6,J,aktiv
137,10138,Lena,Klein,m,1983.0,80331,Düsseldorf,lena.richter AT yahoo.de,2023-11-03,2025-07-10,2731.83,-1,Mode,4.8,J,opt-in
215,10216,Clara,Wagner,m,1988.0,8033,Berlin,clara.müller@web.de,2020-12-13,2023-06-22,765.22,4,NaN,3.1,nein,aktiv

### 3.2 Spaltennamen & Datentypen prüfen  

Die `.info()` Funktion gibt mir einen Überblick: Wie viele Zeilen und Spalten habe ich? Welche Datentypen wurden erkannt? Wo fehlen Werte und wie stark? Und wie viel Speicher verbraucht der DataFrame ungefähr? Besonders hilfreich finde ich, dass ich auf einen Blick sehe, ob pandas z. B. mein Datum als String eingelesen hat oder ob in wichtigen Spalten unerwartet viele NaN-Werte stecken.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Kunde_ID                362 non-null    int64
 1   Vorname                 362 non-null    object
 2   Nachname                362 non-null    object
 3   Geschlecht              353 non-null    object
 4   Geburtsjahr             355 non-null    float64
 5   PLZ                     332 non-null    object
 6   Stadt                   339 non-null    object
 7   Email                   362 non-null    object
 8   Kundenseit              362 non-null    object
 9   Letzter_Kauf            362 non-null    object
 10  Umsatz_2024             362 non-null    float64
 11  Bestellungen_2024       362 non-null    int64
 12  Kategorie_letzter_Kauf  318 non-null    object
 13  DurchschnittsBewertung  362 non-null    float64
 14  Treuekarte              306 non-null    object
 15  Newsletter_Status       311 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 45.4+ KB

### 3.3 Deskriptive Statistik  

Nachdem ich die grundlegenden Informationen und die Struktur meines Datensatzes kenne, möchte ich nun die numerischen und kategorischen Merkmale genauer beschreiben. Die deskriptive Statistik hilft mir dabei, die Daten zusammenzufassen und erste Muster, Auffälligkeiten oder typische Werte zu erkennen ohne Hypothesen zu testen oder Modelle zu bauen.

Ich unterscheide dabei zwei Hauptbereiche:

- Numerische Variablen: Lage (Mittelwert, Median etc.), Streuung (Std, Min/Max, Quartile)
- Kategorische/ Text-Variablen: Häufigkeiten, Modalwert, Anteilswerte

Wichtigste pandas-Methode: `df.describe()`
Es gibt automatisch eine schöne Zusammenfassung (getrennt für Zahlen und für Kategorien, wenn man `include='object'` oder `include='all'` setzt).

In [7]:
df.describe(include = "all")

,Kunde_ID,Vorname,Nachname,Geschlecht,Geburtsjahr,PLZ,Stadt,Email,Kundenseit,Letzter_Kauf,Umsatz_2024,Bestellungen_2024,Kategorie_letzter_Kauf,DurchschnittsBewertung,Treuekarte,Newsletter_Status
count,362.000000,362,362,353,355.000000,332,339,362,362,362,362.000000,362.000000,318,362.000000,306,311
unique,NaN,20,15,10,NaN,15,13,326,327,288,NaN,NaN,11,NaN,7,6
top,NaN,Clara,Hoffmann,w,NaN,D-50667,Muenchen,nina.weber@gmail.com,2019-03-28,2023-06-13,NaN,NaN,Drogerie & Kosmetik,NaN,ja,aktiv
freq,NaN,30,37,161,NaN,28,35,3,3,4,NaN,NaN,40,NaN,50,90
mean,16248.162983,NaN,NaN,NaN,1953.921127,NaN,NaN,NaN,NaN,NaN,3819.750829,18.906077,NaN,3.027348,NaN,NaN
std,23925.940443,NaN,NaN,NaN,234.452456,NaN,NaN,NaN,NaN,NaN,4997.136355,14.462752,NaN,1.428460,NaN,NaN
min,10001.000000,NaN,NaN,NaN,-1.000000,NaN,NaN,NaN,NaN,NaN,-29.990000,-39.000000,NaN,0.300000,NaN,NaN
25%,10091.250000,NaN,NaN,NaN,1970.000000,NaN,NaN,NaN,NaN,NaN,912.532500,8.000000,NaN,1.800000,NaN,NaN
50%,10181.500000,NaN,NaN,NaN,1981.000000,NaN,NaN,NaN,NaN,NaN,2088.230000,19.000000,NaN,2.900000,NaN,NaN
75%,10271.750000,NaN,NaN,NaN,1995.000000,NaN,NaN,NaN,NaN,NaN,4782.172500,30.000000,NaN,4.200000,NaN,NaN
max,110325.000000,NaN,NaN,NaN,2006.000000,NaN,NaN,NaN,NaN,NaN,47530.040000,41.000000,NaN,6.000000,NaN,NaN

In [8]:
# Betrachtet nur kategorische und Textspalten/ Numerische Spalten werden ignoriert/ .T transponiert die Tabelle
cat_summary = df.describe(include=['object', 'category']).T     

# Berechnet den Anteil fehlender Werte pro Spalte
cat_summary['Anteil fehlend (%)'] = (df.isna().mean() * 100).round(2)
display(cat_summary)

,count,unique,top,freq,Anteil fehlend (%)
Vorname,362,20,Clara,30,0.00
Nachname,362,15,Hoffmann,37,0.00
Geschlecht,353,10,w,161,2.49
PLZ,332,15,D-50667,28,8.29
Stadt,339,13,Muenchen,35,6.35
Email,362,326,nina.weber@gmail.com,3,0.00
Kundenseit,362,327,2019-03-28,3,0.00
Letzter_Kauf,362,288,2023-06-13,4,0.00
Kategorie_letzter_Kauf,318,11,Drogerie & Kosmetik,40,12.15
Treuekarte,306,7,ja,50,15.47
Newsletter_Status,311,6,aktiv,90,14.09

## Fehlende Werte (Missing Values) erkennen & behandeln  
(Fortlaufend, In Bearbeitung)

### Strategien zum Umgang mit fehlenden Werten  
(Fortlaufend, In Bearbeitung)

### Visualisierung fehlender Werte  
(Fortlaufend, In Bearbeitung)

## Duplikate erkennen und entfernen  
(Fortlaufend, In Bearbeitung)

 ## Datentypen korrigieren  
(Fortlaufend, In Bearbeitung)